# Exercise 00. Load and save:

#### - Turn-in directory: `ex00/`.
#### - Files to turn in: `load_and_save.ipynb`.
#### - Allowed functions: `import pandas as pd`.

In [1]:
# pip install pandas

# import os
import pandas as pd

####
## 1. `read_csv`:
   - Filter the rows with index 2 and 3 using the `skiprows` argument. We know that these observations were fake.
   - Filter the last two rows from the footer using the `skipfooter` argument. We know that these observations were fake, too.
   - Assign the following names to the columns: `datetime`, `user`.
   - Use datetime as the index column.

In [2]:
df = pd.read_csv(
    '../data/feed-views.log',
    sep='\t',
    names=['datetime', 'user'],
    index_col='datetime',
    skiprows=[2, 3],
    skipfooter=2,
    engine='python'
)
df

                                 user
datetime
2020-04-17 12:01:08.463179      artem
2020-04-17 12:01:23.743946      artem
2020-04-17 12:35:52.735016      artem
2020-04-17 12:36:21.401412     oksana
2020-04-17 12:36:22.023355     oksana
...                               ...
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

[1072 rows x 1 columns]

####
## 2. Rename `datetime` to `date_time`:

In [3]:
df.index.name = 'date_time'
df

                                 user
date_time
2020-04-17 12:01:08.463179      artem
2020-04-17 12:01:23.743946      artem
2020-04-17 12:35:52.735016      artem
2020-04-17 12:36:21.401412     oksana
2020-04-17 12:36:22.023355     oksana
...                               ...
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

[1072 rows x 1 columns]

####
## 3. `to_csv`:
   - Use `’;’` as the delimiter.
   - Save it to a file named `feed-views-semicolon.log`.

In [4]:
df.to_csv(
    '../data/feed-views-semicolon.log',
    sep=';'
)

preview_df = pd.read_csv('../data/feed-views-semicolon.log')
preview_df

                            date_time;user
0         2020-04-17 12:01:08.463179;artem
1         2020-04-17 12:01:23.743946;artem
2         2020-04-17 12:35:52.735016;artem
3        2020-04-17 12:36:21.401412;oksana
4        2020-04-17 12:36:22.023355;oksana
...                                    ...
1067  2020-05-21 16:36:40.915488;ekaterina
1068      2020-05-21 17:49:36.429237;maxim
1069  2020-05-21 18:45:20.441142;valentina
1070      2020-05-21 23:03:06.457819;maxim
1071      2020-05-21 23:23:49.995349;pavel

[1072 rows x 1 columns]

####
####
## The result of `read_csv` should be as follows:

```
In [3]: df.head()
Out[3]:
user
date_time
2020-04-17 12:01:08.463179 artem
2020-04-17 12:01:23.743946 artem
2020-04-17 12:35:52.735016 artem
2020-04-17 12:36:21.401412 oksana
2020-04-17 12:36:22.023355 oksana

In [4]: df.tail()
Out[4]:
user
date_time
2020-05-21 16:36:40.915488 ekaterina
2020-05-21 17:49:36.429237 maxim
2020-05-21 18:45:20.441142 valentina
2020-05-21 23:03:06.457819 maxim
2020-05-21 23:23:49.995349 pavel
```

In [5]:
# print(df.head())
df.head()

                              user
date_time
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

In [6]:
# print(df.tail())
df.tail()

                                 user
date_time
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

In [8]:
# def load_and_save():
#     try:
#         # file_path_read = os.path.join('..', 'data', 'feed-views.log')
#         # file_path_write = os.path.join('..', 'data', 'feed-views-semicolon.log')

#         df = pd.read_csv(
#             # file_path_read,
#             '../data/feed-views.log',
#             sep='\t',
#             names=['datetime', 'user'],
#             index_col='datetime',
#             skiprows=[2, 3],
#             skipfooter=2,
#             engine='python'
#         )

#         df.index.name = 'date_time'

#         df.to_csv(
#             # file_path_write,
#             '../data/feed-views-semicolon.log',
#             sep=';'
#         )

#         return df

#     except Exception as e:
#         print(e)

# if __name__ == '__main__':
#     df = load_and_save()

In [7]:
df.count()

user    1072
dtype: int64

In [9]:
df2 = pd.read_csv("../data/feed-views-semicolon.log", sep=';')

In [10]:
df2.head()

                    date_time    user
0  2020-04-17 12:01:08.463179   artem
1  2020-04-17 12:01:23.743946   artem
2  2020-04-17 12:35:52.735016   artem
3  2020-04-17 12:36:21.401412  oksana
4  2020-04-17 12:36:22.023355  oksana